<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.co.crickon.cachii.crickon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/crickon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FirstScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".PlayerRegister1" />
        <activity
            android:name=".TeamRegister"
            android:label="@string/title_activity_team_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeamRequest"
            android:label="Team Request"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".PlayerRegister"
            android:label="@string/title_activity_player_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CaptainDash"
            android:label="@string/title_activity_captain_dash"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlayerDash"
            android:label="@string/title_activity_player_dash"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlayerRequest"
            android:theme="@style/AppTheme.Login" />
        <activity android:name=".CheckRequest" />
        <activity android:name=".MyProfile" />
        <activity android:name=".ContactUs"></activity>
    </application>

</manifest>